@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ======= login  ========== */
.main {
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.main input {
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 4px;
  box-shadow: -2px 2px 6px rgb(231, 231, 231);
}
.main button {
  cursor: pointer;
  border: none;
  height: 40px;
  padding: 0 10px;
  background: var(--button-color);
  color: var(--button-text);
  border-radius: 4px;
}
/* ========================= */
.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 10;
}

.nav_wrapp {
  color: gray;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
.logo {
  display: flex;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Mulish', sans-serif;
}
.logo > div {
  margin-top: 27px;
  margin-left: 1px;
  width: 8px;
  height: 8px;
  background: #0BBEF2;
}
.menu {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-weight: 300;
}

/* ------------------------- */
.top_section_wrapp {
  width: 100%;
  height: fit-content;

}
.in_wrapp {
  background-color: #F5F5F5;
}
/* ------------------------- */
/* ======= Home page ========= */
.bgWrap {
  display: flex;
  justify-content: center;
  height: 100vh;
}
/* --------------------------- */
.main_content_wrapp {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;

}
.left_side_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.left_side_content h1 {
  font-size: 50px;
}
.left_side_content p {
  width: 50%;
  line-height: 30px;
}
.right_side_content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: fit-content;
  position: relative;
}
/* --------------------------- */
.post_wrapp {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 90px;
}
.post_wrapp button {
  cursor: pointer;
  padding: 10px;
  border: none;
  background: var(--button-color);
  color: var(--button-text);
  border-radius: 4px;
}
.post_header {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.post_header h2 {
  font-size: 35px;
}
.post_header p {
  color: var(--button-text);
}
.post_header form {
  margin-top: 35px;
}
.post_header form input {
  width: 300px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  box-shadow: -2px 2px 6px rgb(231, 231, 231);
}
.grid_post {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  gap: 40px;
  list-style: none;
}
.post_card {
  width: 350px;
  height: 400px;
  border-radius: 30px;
  background-color: white;
  overflow: hidden;
  position: relative;
  transform: scale(0.96);
}
.post_card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}
.img_wrapp {
  height: 35%;
  overflow: hidden;
}
.post_img {
  width: 100%;
  margin-top: -50px;
}

.post_text_wrapp {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}
.post_card h3 {
  font-size: 25px;
  font-weight: 400;
}
.post_text_wrapp p {
  font-weight: 200;
  font-size: 14px;
  line-height: 25px;
  margin-top: -8px;
}
.post_bottom p {
  font-weight: 200;
  font-size: 14px;
}
.post_bottom {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0 30px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.post_small_img {
  
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.post_in_title {
  width: 80%;
  display: flex ;
  align-items: center;
  justify-content: space-evenly;
}
/* ======= single post ========= */
.profile_post {
  display: flex;
  gap:  20px;
}
.post_in_title button {
  cursor: pointer;
  border: none;
  background: var(--button-color);
  color: var(--button-text);
  padding: 10px 15px;
  border-radius: 4px;
}
.profile_detail ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* ========= Footer ============ */
.footer_wrapp {
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  /* width: 100%; */
  height: fit-content;
  background: #252B3B;
}
.footer_width {
  width: 80%;
  padding: 40px 0;
  gap: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.footer_width a:hover {
  color: #0BBEF2;
  transform: translate(2px);
  transition: all 0.1s ease-in-out;
}
.column_text {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15.8px;
  font-size: 20px;
}
.column_text_social {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.column_text_social a,
.column_text a {
  font-size: 14px;
  font-weight: 200;
}
.logo_2 {
  display: flex;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Mulish', sans-serif;
  color: white;
}
.logo_2 > div {
  margin-top: 27px;
  margin-left: 1px;
  width: 8px;
  height: 8px;
  background: #0BBEF2;
}
/* ======== responsive sizes ========= */
@media (max-width: 1200px) {
  .footer_width {
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .post_header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .post_header form {
    margin: 20px 0;
  }
  .search_product {
    margin-top: -30px;
  }
  .menu {
    gap: 38px;
  }
}
@media (max-width: 800px) {
  .menu {
    gap: 20px;
  }
}
@media (max-width: 700px) {
  .menu {
    display: none;
  }
}